@model (string ColumnName, string DisplayName, string CurrentSortBy, string CurrentSortOrder)

@{
    var sortBy = Model.ColumnName;
    var currentSortBy = Model.CurrentSortBy ?? "";
    var currentSortOrder = Model.CurrentSortOrder ?? "asc";

    string newSortOrder = "asc";
    string icon = "";

    if (currentSortBy.Equals(sortBy, StringComparison.OrdinalIgnoreCase))
    {
        newSortOrder = currentSortOrder == "asc" ? "desc" : "asc";
        icon = currentSortOrder == "asc" ? "fa-sort-up" : "fa-sort-down";
    }
    else
    {
        icon = "fa-sort";
    }
}

<button type="button" onclick="sortBy('@sortBy', '@newSortOrder')" class="btn btn-link text-decoration-none text-dark p-0">
    @Model.DisplayName
    <i class="fas @icon ms-1"></i>
</button>

<script>
    function sortBy(column, order) {
        const url = new URL(window.location);
        url.searchParams.set('sortBy', column);
        url.searchParams.set('sortOrder', order);
        window.location.href = url.toString();
    }
</script>
